body{
	color: #404041;
    font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Sans-Serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    text-rendering: optimizeLegibility;
}
.link-hire{
	color: #000000;
}
.header-grid{
    display: grid;
    grid-template-columns: auto repeat(3,60px);
    background: white;
    border-bottom: 1px solid #8c8c8e;
}
.header-logo {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    align-self: center;
    margin-left: 12px;
    width: 100px;
    height: 33px;
    background: url("../images/logo.svg") no-repeat 0 0;
    background-size: 100px 33px;
    display: block;
}
.header-btn{
    height: 60px;
    width: 60px;
    border: none;
    background: white;
    border-left: 1px solid #8c8c8e;
    font-size: 12px;
}
#search-text{
    height: 42px;
    width: 100%;
    border: 0;
    padding-left: 10px;
}
.search-form{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 61px;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background:rgba(94,134,42,0.80);
}
.menu{
    position: fixed;
    top: 61px;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background:rgba(94,134,42,0.80);
}
.menu-list{	
    height: 100%;
    margin-right:60px;
    background: #404041;
}
.menu-item{
    padding-top: 30px;
    margin-left: 20px;
}
.menu-item>a{
    color: white;
    text-decoration: none;
}
.menu-item>hr{
    margin-top: 15px;
    margin-right: 20px;
    border: 0;
    border-bottom: 1px solid white;
}
.blog-menu{
	background: #404041;
	padding-top: 10px;
	height: 42px;
}
.blog-menu-list{
	overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0;
    display: flex;
    align-items: center;
}
.blog-menu-list>li{
	padding: 0 12px;
}
.blog-menu-list>li>a{
	color: #8c8c8e;
    font-size: 14px;
    display: block;
}

.c-article__header a{
    transition: color .2s;
    color: #79ad36;
	font-size: 26px;
}
.c-article__meta a{
	transition: color .2s;
    color: #79ad36;
	font-size: 14px;
}
.post-categories li{
	display: inline-block;
}
.articles-list {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 18px;
}
.c-article__title {
    margin-bottom: 12px;
}
.category-title{
	font-size: 31px;
	margin: 0 0 18px;
}
.c-article__image img {
    display: block;
    border-radius: 3px;
    height: auto;
    width: 100%;
}
.c-article__content{
	margin-top: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #8c8c8e;
	padding-bottom: 30px;
}
.c-article__content a{
	color: #79ad36;
}
.btn{
	margin: 3px;
}
.btn-outline-success{
	height: 26px !important;
	padding-top: 0px !important; 
}
.btn-success{
	color: white !important;
}
.list-type{
	list-style-type: inherit;
	margin: 0 0 30px;
	padding: 0 0 0 40px;
}
.list-type li{
	margin-bottom: 10px;
}
.o-pagination{
	text-align: center;
}
.o-pagination>.btn{
	height: 38px!important;
	padding-top: 5px!important;
}
.o-services-banner {
    border: 2px solid #f3f3f3;
    border-radius: 3px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.widget {
    margin-bottom: 30px;
}
.o-services-banner__title {
    text-transform: uppercase;
    margin: 18px 0;
    text-align: center;
    font-weight: 400;
    padding: 0 12px;
}
.h2 {
    font-size: 26px !important;
	color: #000000;
}
.h2 strong {
    color: #FFDA00;
}
.o-services-banner__image {
    align-self: center;
    width: 200px;
    margin-bottom: 18px;
    transform: scale(0.9);
    transition: transform .2s, -webkit-transform .2s;
}
.o-services-banner--usability-audit .o-services-banner__view-more {
    background-color: #ffda00;
    color: #404041;
}
.o-services-banner__view-more {
    font-family: "TheSerifB","Helvetica Neue",Arial,Helvetica,Sans-Serif;
    text-align: center;
    font-weight: 400;
    padding: 12px;
    border-radius: 0 0 3px 3px;
}
.widget:last-child {
    margin-bottom: 0;
}
.o-hire-us-banner {
    display: block;
    position: relative;
}
.o-hire-us-banner__image-mobile {
    display: block;
    border-radius: 3px;
}
.o-hire-us-banner__image-desktop {
    display: none;
    border-radius: 3px;
}
.o-hire-us-banner__content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 170px;
}
.o-hire-us-banner__title {
    text-transform: uppercase;
    margin-bottom: 12px;
    text-align: center;
    text-shadow: 2px 2px 0px white;
	font-size: 16px !important;
    line-height: 24px;
}
.widget-title {
    background-color: #f3f3f3;
    padding: 6px 12px;
    font-size: 18px;
}
.footer{
    background-color: #404041;
}
.footer-menu__container{
    margin-bottom: 42px;
}
.footer-menu{
    border-bottom: 1px solid #8c8c8e;
}
.footer-menu-btn{
	text-align: center;
}
.footer-menu__title{
    display: flex;
    font-family: "TheSerifB","Helvetica Neue",Arial,Helvetica,Sans-Serif;
    color: #8c8c8e;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .25px;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    padding: 0 12px;
}
.footer-menu__list{
    display: none;
    padding: 12px 12px 24px;
}
.footer-menu-item a{
    color: #fff;
    padding: 6px 0;
    display: block;
    font-size: 14px;
    line-height: 24px;
}
.footer-menu-item a:hover{
    color: #59595b;
}
.footer-hr__container {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    margin: 0 auto 42px;
}
hr{
    box-sizing: content-box;
    overflow: visible;
    border-bottom: 1px solid #404041;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 24px 0;
}
.footer-hr__container strong hr{
    border-bottom: 0;
    height: 1px;
    background-color: #59595b;
}
.footer-menu__container--half{
    display: flex;
    width: 100%;
    margin-bottom: 18px;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-menu__container--half picture{
    display: inline-block;
    text-align: center;
}
.footer-menu__container--half img{	
    height: auto;
    display: inline-block;
	margin:5px;
}
.footer-menu-newsletter{
    margin: 0 auto 42px;
    padding: 0 12px;
    text-align: center;
    color: #8C8C8E;
}
.footer-newsletter__title{
    font-family: "TheSerifB","Helvetica Neue",Arial,Helvetica,Sans-Serif;
    font-weight: 600;
    font-size: 16px;
    color: #8c8c8e;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 12px;
    line-height: 18px;
    letter-spacing: .25px;
}
.footer-newsletter__subtitle{
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 18px;
    color: 	white;
}
.footer-social-list{
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 42px;
}
.footer-social-list li{
    margin: 0 15px;
}
.footer-social-list i{
    font-size: 20px;
}
.footer-social-list li a{
    color: #8c8c8e;
}
.footer-contact{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 42px;
}
.footer-contact a{
    color: #8c8c8e;
    margin: 0 12px 12px;
    font-size: 14px;
}
.footer-back-to-top{
    margin: 0 auto -42px;
    text-align: center;
    width: 72px;
    height: 72px;
    border-radius: 72px;
    background-color: #59595b;
    display: block;
    padding-top: 3px;
    transition: color .2s;
    color: silver;
}
.footer-copyright{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    background-color: #59595b;
    font-size: 14px;
    padding: 6px 0;
    color: silver;
}
.footer-copyright>a{
    color: #79ad36;
}
.cookie-banner{
    transition: all 1s ease;
    background-color: rgba(39,39,39,0.95);
    color: white;
    opacity: 0;
    position: fixed;
    overflow: hidden;
    box-sizing: border-box;
    flex-wrap: nowrap;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    padding: 18px 12px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
}
.cookie-banner-message{
    font-size: 14px;
    line-height: 24px;
    flex: 1;
}
.cookie-banner-btn-cont{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
/* Thiết bị trung bình (máy tính bảng ngang, 768px trở lên) */
@media only screen and (min-width: 768px) {
body{
		background: green;
	}
.link-hire{
	color: #000000;
}
.header-grid{
	display: grid;
	grid-template-columns: auto repeat(3,84px);
}
.header-logo {
	width: 177px;
	height: 41px;
	background-size: 177px 41px;
}
.header-btn{
	height: 84px;
	width: 84px;
	text-align: center;
}
.header-btn>i,span{
	font-size: 16px;
}
.search-form{
	position: fixed;
	top: 85px;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
}
.menu{
	position: fixed;
	top: 85px;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
}
.c-article__meta{
	display: flex;
}
.widget-title {
    font-size: 18px !important;
}
.footer-menu__list{
    display: block !important;
	padding-left: 0px;
	padding-right: 0px;
	border-top: 2px solid #8c8c8e;
}
.footer-menu__container {
   padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 36px;
    padding-top: 42px;
    margin-bottom: 30px;
}
.footer-menu{
    border: 0;
	font-size: 14px;
	padding-left: -20px;
}
.footer-menu__title{
	font-size: 14px;
}
.footer-menu__title>i{
	display: none;
}
.footer-menu__container--half{
	display: grid;
    grid-template-columns: 1fr 380px;
    grid-column-gap: 24px;
    grid-row-gap: 0;
    padding-top: 0;
    margin-bottom: 30px;
}
.footer-menu__container--half picture{
    text-align: left;
}
.footer-content-left{
	text-align: left;
}
.footer-contact{
    display: block;
	max-width: 1224px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}
}
/* Các thiết bị cực lớn (máy tính xách tay và máy tính để bàn lớn, 1140px trở lên) */
@media only screen and (min-width: 1140px) {
	body {
    font-size: 18px;
    line-height: 30px;
}
.link-hire{
	color: white;
}
.header-grid {
    grid-template-columns: 177px auto repeat(2, 100px);
    grid-template-rows: 84px;
    grid-column-gap: 12px;
    padding: 0 24px;
	max-width: 1224px;
	margin: 0 auto;
	border: 0;
}
.header-logo {
    width: 177;
    height: 41px;
    background-size: 177px 41px;
}
.menu{
   	display: flex;
	position: relative;
	top: 0px;
	right: 0;
	justify-self: center;
	height: 100%;
	background: white;
}
.header-btn-menu{
    display: none;
}
.header-btn{
    height: 40px;
    width: 100px;
    background: white;
    font-size: 12px;
	align-self: center;
	border: 0;
	color: #8C8C8E;
}
.menu-list {
    height: auto;
    background: white;
	display: flex;
	align-self: center;
	margin: 10px;
}
.menu-item{
    padding-top:0px;
    margin:2px 20px;
	font-size: 18px;
}
.menu-item>a{
    color: #8C8C8E !important;
	font-size: 16px !important;
}
.menu-item>a:hover{
    color: #404041 !important;
	text-decoration: none;
}
.header-btn-search:hover{
	color: #404041;
}
.header-btn-contact{
	background: #79ad36;
	border-radius: 5px;
	color: white;
	border-bottom: 2px solid #5e862a;
}
.header-btn-contact:hover{
    background: #5e862a;
}
#search-text{
    height: 42px;
    width: 1186px;
    border: 0;
	padding-left: 36px;
}
.search-form>div{
    text-align: center;
    background: white;
	border-top: 1px solid #E0E0E1;
}
.search-form{
    position: fixed;
    top: 84px;
    right: 0;
    bottom: 0;
    left: 0;
}

.articles-list {
	display: grid;
    grid-column-gap: 48px;
    grid-template-columns: repeat(12, 1fr);
	max-width: 1224px;
	margin: 0 auto;
}
.articles-list .main-content {
    grid-column: span 8;
}	

.h1, .post-type-archive-work .o-page-section-title, .post-type-archive-work .content-single-work h2, .content-single-work .post-type-archive-work h2, h1 {
    font-size: 37px !important;
}
.articles-list .primary-sidebar {
    grid-column: span 4;
}
.blog-menu{
	text-align: center;
}
.blog-menu-list{
    display: inline-flex;
}
.o-hire-us-banner__image-mobile {
    display: none;
}
.o-hire-us-banner__image-desktop {
    display: block;
}
.o-hire-us-banner__content {
    width: 240px;
    right: 0;
    left: 0;
    width: auto;
    padding: 24px 24px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer-menu__container {
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 48px;
    grid-row-gap: 0;
	max-width: 1224px;
}
.footer-menu__container--half {
    grid-template-columns: 1fr 450px;
	max-width: 1224px;
	border-top: 1px solid #8c8c8e;
}
.footer-contact{
    display: block;
	max-width: 1224px;
	margin: 0 auto;
	text-align: center;
}
.footer-menu a{
    font-size: 14px;
    color: white !important;
    line-height: 30px;
}
.footer-menu a:hover{
	color: #8c8c8E !important;
}
}
