
body {
    font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Sans-Serif;
}
.link-hire{
	color: #000000;
}
.header-grid{
    display: grid;
    grid-template-columns: auto repeat(3,60px);
    background: white;
    border-bottom: 1px solid #8c8c8e;
}
.header-logo {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    align-self: center;
    margin-left: 12px;
    width: 100px;
    height: 33px;
    background: url("../images/logo.svg") no-repeat 0 0;
    background-size: 100px 33px;
    display: block;
}
.header-btn{
    height: 60px;
    width: 60px;
    border: none;
    background: white;
    border-left: 1px solid #8c8c8e;
    font-size: 12px;
	color: #000000;
}
#search-text{
    height: 42px;
    width: 100%;
    border: 0;
    padding-left: 10px;
}
.search-form{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 61px;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background:rgba(94,134,42,0.80);
}
.menu{
    position: fixed;
    top: 61px;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background:rgba(94,134,42,0.80);
}
.menu-list{	
    height: 100%;
    margin-right:60px;
    background: #404041;
}
.menu-item{
    padding-top: 30px;
    margin-left: 20px;
}
.menu-item>a{
    color: white;
    text-decoration: none;
}
.menu-item>hr{
    margin-top: 15px;
    margin-right: 20px;
    border: 0;
    border-bottom: 1px solid white;
}
.content {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}
.o-page-title {
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
}
.o-page-title h1{
    font-size: 42px;
    line-height: 48px;
	font-weight: 800;
    letter-spacing: .5px;
}
.o-page-title p {
    margin-top: 12px;
    color: #8c8c8e;
}
.contact-us__container {
    padding: 23px;
    background-color: #f3f3f3;
    border-radius: 3px;
	border: 2px solid black;
}
form {
    display: block;
    margin-top: 0em;
}
.c-contact-form {
    margin-bottom: 24px;
}
.content{
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}
input:not([type=checkbox]), textarea, select[multiple=multiple] {
    border-width: 1px;
    border-style: solid;
    padding: 8px;
    font-size: 14px;
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
    margin: 0;
    /* -webkit-transition: border-color .2s; */
    -o-transition: border-color .2s;
    transition: border-color .2s;
    background-color: #fff;
    border-color: #404041;
    border-radius: 3px;
    /* -webkit-box-shadow: inset 0 2px 3px #e5e5e5; */
    box-shadow: inset 0 2px 3px #e5e5e5;
    font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Sans-Serif;
    padding-right: 9px;
    padding-left: 9px;
    width: 100%;
    height: 36px;
	line-height: 1.15;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.c-contact-form__field {
    margin-bottom: 12px;
}
label {
    font-size: 14px;
    line-height: 23px;
    display: block;
    font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Sans-Serif;
    margin-bottom: 6px;
}
.c-contact-form__textarea {
    height: 120px;
	margin-bottom: 18px;
    resize: vertical;
    display: block;
    line-height: 23px;
	overflow: auto;
}
.c-contact-form__submit {
    width: 100%;
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    display: -ms-flexbox;
    display: flex;
}
.c-contact-form__guarantee-note {
    display: none;
}
.c-contact-form__submit-btn {
    width: 100%;
}
.btn-gray {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 10px;
    /* -webkit-transition: background-color .2s; */
    -o-transition: background-color .2s;
    transition: background-color .2s;
    background-color: #404041;
    border-color: #272727;
}
.btn, .comment-respond small a, button, input[type='submit'] {
    font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Sans-Serif;
    /* -webkit-appearance: none; */
    -moz-appearance: none;
    /* appearance: none; */
    border-radius: 3px;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    /* -webkit-user-select: none; */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 14px;
    line-height: 18px;
    height: auto;
	
}
.contact-us__give-us-call {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 24px;
}
.contact-us__give-us-call h2 {
    margin-bottom: 24px;
}
.contact-us__give-us-call a {
    margin-bottom: 24px;
}
.contact-us__details>p {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 24px;
}
.contact-us__details>p a {
    color: #404041;
}
.contact-us__address {
    text-align: center;
}


.footer{
    background-color: #404041;
}
.footer-menu__container{
    margin-bottom: 42px;
}
.footer-menu{
    border-bottom: 1px solid #8c8c8e;
}
.footer-menu-btn{
	text-align: center;
}
.footer-menu__title{
    display: flex;
    font-family: "TheSerifB","Helvetica Neue",Arial,Helvetica,Sans-Serif;
    color: #8c8c8e;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .25px;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    padding: 0 12px;
}
.footer-menu__list{
    display: none;
    padding: 12px 12px 24px;
}
.footer-menu-item a{
    color: #fff;
    padding: 6px 0;
    display: block;
    font-size: 14px;
    line-height: 24px;
}
.footer-menu-item a:hover{
    color: #59595b;
}
.footer-hr__container {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    margin: 0 auto 42px;
}
hr{
    box-sizing: content-box;
    overflow: visible;
    border-bottom: 1px solid #404041;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 24px 0;
}





.footer-menu__container--half{
    display: flex;
    width: 100%;
    margin-bottom: 18px;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-menu__container--half picture{
    display: inline-block;
    text-align: center;
}
.footer-menu__container--half img{	
    height: auto;
    display: inline-block;
	margin:5px;
}
.footer-menu-newsletter{
    margin: 0 auto 42px;
    padding: 0 12px;
    text-align: center;
    color: #8C8C8E;
}
.footer-newsletter__title{
    font-family: "TheSerifB","Helvetica Neue",Arial,Helvetica,Sans-Serif;
    font-weight: 600;
    font-size: 16px;
    color: #8c8c8e;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 12px;
    line-height: 18px;
    letter-spacing: .25px;
}
.footer-newsletter__subtitle{
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 18px;
    color: 	white;
}
.footer-social-list{
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 42px;
}
.footer-social-list li{
    margin: 0 15px;
}
.footer-social-list i{
    font-size: 20px;
}
.footer-social-list li a{
    color: #8c8c8e;
}
.footer-contact{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 42px;
}
.footer-contact a{
    color: #8c8c8e;
    margin: 0 12px 12px;
    font-size: 14px;
}
.footer-back-to-top{
    margin: 0 auto -42px;
    text-align: center;
    width: 72px;
    height: 72px;
    border-radius: 72px;
    background-color: #59595b;
    display: block;
    padding-top: 3px;
    transition: color .2s;
    color: silver;
}
.footer-copyright{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    background-color: #59595b;
    font-size: 14px;
    padding: 6px 0;
    color: silver;
}
.footer-copyright>a{
    color: #79ad36;
}
.cookie-banner{
    transition: all 1s ease;
    background-color: rgba(39,39,39,0.95);
    color: white;
    opacity: 0;
    position: fixed;
    overflow: hidden;
    box-sizing: border-box;
    flex-wrap: nowrap;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    padding: 18px 12px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
}
.cookie-banner-message{
    font-size: 14px;
    line-height: 24px;
    flex: 1;
}
.cookie-banner-btn-cont{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
/* Thiết bị trung bình (máy tính bảng ngang, 768px trở lên) */
@media only screen and (min-width: 768px) {
body {
    font-size: 17px;
    line-height: 28px;
}
.link-hire{
	color: #000000;
}
.header-grid{
	display: grid;
	grid-template-columns: auto repeat(3,84px);
}
.header-logo {
	width: 177px;
	height: 41px;
	background-size: 177px 41px;
}
.header-btn{
	height: 84px;
	width: 84px;
	text-align: center;
}
.header-btn>i,span{
	font-size: 16px;
}
.search-form{
	position: fixed;
	top: 85px;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
}
.menu{
	position: fixed;
	top: 85px;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
}
.main {
    padding: 24px 0;
    background: url("../images/location_map.png") top center no-repeat;
    background-size: cover;
}	
.content {
    padding-left: 24px;
    padding-right: 24px;
}	
.contact-form__container {
    background-color: rgba(255,255,255,0.95);
    border-radius: 3px;
    padding: 0 24px 24px;
	display: grid;
    grid-column-gap: 24px;
    grid-template-columns: repeat(8, 1fr);
}	
.o-page-title {
    grid-column: span 8;
	padding-top: 24px;
    padding-bottom: 24px;
	display: grid;
    grid-column-gap: 24px;
    grid-template-columns: repeat(8, 1fr);
}	
.o-page-title h1 {
    grid-column: span 8;
	font-size: 57px;
    line-height: 60px;
}	
.o-page-title p {
    grid-column: 2 / 8;
}	
.contact-us__container {
    display: grid;
    grid-column-gap: 24px;
    grid-column: span 8;
    grid-template-columns: repeat(8, 1fr);
}	
.c-contact-form {
    margin-bottom: 0;
    grid-column: 1 / 5;
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
}
.c-contact-form__field--full-width{
    grid-column: 1 / 3;
}	
.c-contact-form__submit {
	display: grid;
    grid-column: 1 / 3;
    -webkit-box-pack: end;
    justify-content: flex-end;
}	
.contact-us__details {
    grid-column: 5 / 9;
    border-left: 1px solid silver;
    padding-left: 24px;
}	
.contact-us__give-us-call {
    align-items: flex-start;
}	
.contact-us__details>p {
    margin: 0 0 24px;
    -webkit-box-pack: start;
    justify-content: flex-start;
}	
.contact-us__address {
    text-align: left;
    margin-top: 24px;
}	
	
	
	
	
.footer-menu__list{
    display: block !important;
	padding-left: 0px;
	padding-right: 0px;
	border-top: 2px solid #8c8c8e;
}
.footer-menu__container {
   padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 36px;
    padding-top: 42px;
    margin-bottom: 30px;
}
.footer-menu{
    border: 0;
	font-size: 14px;
	padding-left: -20px;
}
.footer-menu__title{
	font-size: 14px;
}
.footer-menu__title>i{
	display: none;
}
.footer-menu__container--half{
	display: grid;
    grid-template-columns: 1fr 380px;
    grid-column-gap: 24px;
    grid-row-gap: 0;
    padding-top: 0;
    margin-bottom: 30px;
}
.footer-menu__container--half picture{
    text-align: left;
}
.footer-content-left{
	text-align: left;
}
.footer-contact{
    display: block;
	max-width: 1224px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}
}
/* Các thiết bị cực lớn (máy tính xách tay và máy tính để bàn lớn, 1140px trở lên) */
@media only screen and (min-width: 1140px) {
.header-grid {
    grid-template-columns: 177px auto repeat(2, 100px);
    grid-template-rows: 84px;
    grid-column-gap: 12px;
    padding: 0 24px;
	max-width: 1224px;
	margin: 0 auto;
	border: 0;
}
.link-hire{
	color: white;
}
.header-logo {
    width: 177;
    height: 41px;
    background-size: 177px 41px;
}
.menu{
   	display: flex;
	position: relative;
	top: 0px;
	right: 0;
	justify-self: center;
	height: 100%;
	background: white;
}
.header-btn-menu{
    display: none;
}
.header-btn{
    height: 40px;
    width: 100px;
    background: white;
    font-size: 12px;
	align-self: center;
	border: 0;
	color: #8C8C8E;
}
.menu-list {
    height: auto;
    background: white;
	display: flex;
	align-self: center;
	margin: 10px;
}
.menu-item{
    padding-top:0px;
    margin:2px 20px;
	font-size: 18px;
}
.menu-item>a{
    color: #8C8C8E !important;
	font-size: 16px !important;
}
.menu-item>a:hover{
    color: #404041 !important;
	text-decoration: none;
}
.header-btn-search:hover{
	color: #404041;
}
.header-btn-contact{
	background: #79ad36;
	border-radius: 5px;
	color: white;
	border-bottom: 2px solid #5e862a;
}
.header-btn-contact:hover{
    background: #5e862a;
}
#search-text{
    height: 42px;
    width: 1186px;
    border: 0;
	padding-left: 36px;
}
.search-form>div{
    text-align: center;
    background: white;
	border-top: 1px solid #E0E0E1;
}
.search-form{
    position: fixed;
    top: 84px;
    right: 0;
    bottom: 0;
    left: 0;
}
.main {
    padding: 30px 0;
}
.content {
    max-width: 1224px;
	padding-left: 24px;
    padding-right: 24px;
}	
.contact-form__container {
	display: grid;
	background-color: rgba(255,255,255,0.95);
    border-radius: 3px;
    padding: 0 0 24px;
	grid-column-gap: 48px;
    grid-template-columns: repeat(12, 1fr);
}	
.o-page-title {
	display: grid;
    grid-column: span 12;
	padding-top: 36px;
    padding-bottom: 36px;
	grid-column-gap: 48px;
    grid-template-columns: repeat(12, 1fr);
}
.o-page-title h1 {
    grid-column: span 12;
	font-size: 76px;
    line-height: 90px;
}	
.o-page-title p {
    grid-column: 2 / 12;
}
.contact-us__container {
    grid-template-columns: repeat(10, 1fr);
    grid-column: 2 / 12;
}
.c-contact-form {
    grid-column: 1 / 7;
}	
.contact-us__details {
    grid-column: 7 / 11;
}
h2 {
    font-size: 31px;
}
	
	
	
	
.footer-menu__container {
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 48px;
    grid-row-gap: 0;
	max-width: 1224px;
}
.footer-menu__container--half {
    grid-template-columns: 1fr 450px;
	max-width: 1224px;
	border-top: 1px solid #8c8c8e;
}
.footer-contact{
    display: block;
	max-width: 1224px;
	margin: 0 auto;
	text-align: center;
}
.footer-menu a{
    font-size: 14px;
    color: white !important;
    line-height: 30px;
}
.footer-menu a:hover{
	color: #8c8c8E !important;
}
}
